//- Copyright 2015-2016, Google, Inc.
//- Copyright 2015-2016, Bill Shannon
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

// [START form]
extends ../base.jade

block content
  h3 #{action} wine
  form(method="POST")
    .form-group
      label(for="winery") Winery
      input.form-control(type="text", name="winery", id="winery", value=wine.winery)
    .form-group
      label(for="vintage") Vintage
      input.form-control(type="text", name="vintage", id="vintage", value=wine.vintage)
    .form-group
      label(for="wine") Wine
      input.form-control(type="text", name="wine", id="wine", value=wine.wine)
    .form-group
      label(for="bottles") Bottles
      input.form-control(type="text", name="bottles", id="bottles", value=wine.bottles)
    .form-group
      label(for="notes") Notes
      input.form-control(type="text", name="notes", id="notes", value=wine.notes)
    .form-group
    button.btn.btn-success(type="submit") Save

// [END form]
